[data-anime]{
   opacity: 0 ; 

   transition: .3s;
}

[data-anime="down"]{
   transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
   opacity: 1;

   transform: translate3d(0, 0, 0);
}
